* {
    margin: 0px;
    padding: 0px;
}


/* CSS Kaka */
.card {
    width: 350px;
    height: 310px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 6px;
    margin-left: 100px;
    margin-top: 20px;
}

.card img {
    height: auto;
    border-radius: 6px 6px 0 0;
    width: 100%;
}

.card-body {
    padding-left: 15px;
}

.card-title {
    padding-top: 4px;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: "roboto";
    font-weight: 80;
}

.card-text {
    padding-bottom: 25px;
    color: rgb(105, 105, 105);
    font-family: sans-serif;
    font-size: 13px;
}

.card a {
    padding-left: 15px;
    text-decoration: none;
    color: blue;
    font-family: "roboto";
    font-size: 16px;
}

.card:hover {
    box-shadow: 2px 2px 10px 1px rgba(180, 180, 180, 0.4);
}
/* CSS Kaka */